@mixin flexbox($direction, $wrap, $alignContent, $justify, $alignItems) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-content: $alignContent;
    justify-content: $justify;
    align-items: $alignItems;
}

@mixin button($width, $height, $buttonBackground, $buttonText) {
    width: $width;
    align-self: center;
    height: $height;
    border-radius: 15px;
    background-color: $buttonBackground;
    color: $buttonText;
    border: none;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    align-self: center;
    &:hover {
        transform: scale(1.07);
        transition-duration: .15s;
    }
}

@mixin widthHeight($width, $height) {
    height: $height;
    width: $width;  
}
