@import './_reset';
@import './variables';

* {
	font-family: $headerFont;
	color: $textColor;
}

h1 {
  text-align: center;
  font-size: 60px;
  padding: 20px;
}

.main-container {
  background-color: #420404;
}

.opening-line {
  text-align: center;
  font-size: 23px;
}