@import '_variables.scss';


.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  height: 400px;
  margin: 20px 0;
}

.four-oh-four-gif {
  height: 360px;
  width: 480px;
  border: none;
  margin-bottom: 1%;
}

.four-oh-four-message {
  margin-bottom: 1%;
}

.four-oh-four-home-button {
  width: 12%;
  height: 5%;
  border-radius: 15px;
  background-color: $textColor;
  color: $backgroundColor;
  border: none;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  align-self: center;
  padding-top: 11px;
  margin-bottom: 1%;
  padding-bottom: 1%;
}