@import '_variables.scss';
@import '_mixins.scss';


.message-container {
  @include flexbox(column, nowrap, normal, space-between, center);
  font-size: 20px;
  height: 400px;
  margin: 20px 0;
}

.four-oh-four-gif {
  @include widthHeight(360px, 480px);
  border: none;
  margin-bottom: $percentBottom;
}

.four-oh-four-message {
  margin-bottom: $percentBottom;
}

.four-oh-four-home-button {
  @include button(12%, 5%, $textColor, $backgroundColor);
  padding-top: 11px;
  margin-bottom: $percentBottom;
  padding-bottom: $percentBottom;
}