@import './_reset.scss';
@import './_variables.scss';
@import './mixins.scss';

.individual-movie-container {
  display: flex;
  margin-top: 40px;
  
}

.individual-movie-container > img {
  width: 45%;
  margin: 0 40px;
  max-height: 60vh;
}

.movie-info {
  @include flexbox(column, nowrap, normal, space-between, normal);
  margin: 0 40px;
}

.movie-details {
  @include flexbox(row, nowrap, normal, space-between, normal);
}

.movie-details-subcontainer > p {
  margin-bottom: 10px;
  font-size: $font20px;
}

.movie-header-container {
  text-align: center;
}

.movie-title {
  font-size: 40px;
}

.movie-tagline {
  font-size: 25px;
}

.movie-overview {
  font-size: $font20px;
}

.home-button {
  @include button($textColor, $backgroundColor);
}

.bold {
  font-weight: bold;
  font-size: $font20px;
}