@import './reset.scss';
@import './variables.scss';

.movie-card {
  color: $textColor;
  font-size: $font20px;
}



.movie-image {
  width: 80%;
  border: 5px solid $textColor;
  margin-bottom: 12px;
  &:hover {
    transform: scale(1.07);
    transition-duration: .15s;
    box-shadow: 5px 5px 25px gold;
  }
  cursor: pointer;
}
